<!-- ==============================================================
Author: Md. Saifur Rahman 
Created Date:18-Dec-202
Last Update: 06-Jan-2021
============================================================== -->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Experience List </title>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="../../css/sf_hr.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<div class="container">
  <div class="row form-heading">
        <div class="col-lg-1 text-left">
          <h5>experience</h5>
        </div>
        <div class="col-lg-6 text-center">
          <h3>Experience List</h3>
  		</div>
        <div class="col-lg-3 text-center">
          <h5 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy hh:mm a')}"> </h5>
  		</div>
  </div>
	<div class="row sf-form-body">
		<div class="col-lg-12 col-12">
		    <div class="row mx-0">
		      
              <form class="form-group row col-lg-12" action="#" th:action="@{experience-list-find}" method="post">
	              <div class="form-group row col-lg-12 mt-4">
	                <label for="religion" class="col-form-label col-lg-3"><b>
	                	<span class="float-left">Find By</span>
	                	<span class="float-right">:</span></b>
	                </label>
	                <div class="input-group col-lg-7">
					  <select class="form-control" name="findBy" onchange="changeInput(this.value)"
					  	required="required">
					    <option value="EmployeeId" 	> Employee Id  </option>
					    <!-- <option value="FirstName" 	> First Name         </option>
					    <option value="LastName" 	> Last Name     </option>
					    <option value="NID" 		> NID          </option>
					    <option value="Relation" 	> Relation  </option>
					    <option value="Contact" 	> Contact          </option> -->
					  </select>
	                </div>
	          	  </div>
	          	  
	          	  <div class="form-group row col-lg-12">
	                <label for="findByValue"  class="col-form-label col-lg-3"><b>
	                	<span class="float-left" id="findByValueLabel">Enter any Employee Id</span>
	                	<span class="float-right">:</span> </b>
	                </label>
					<div class="col-lg-6">
					  <input type="text" class="form-control" id="findByValue" name="findByValue" 
					  	placeholder="Enter some character of Name" required="required">
	                </div>
					<div class="col-lg-2">
						<button type="submit" class="btn btn-success btn-lg col-lg-12">Search </button> 
					</div>
					
	              </div>
              </form>
              
              <!-- <form class="form-group row col-lg-5" action="#" th:action="@{/employee-list-find}" method="post">
	              <div class="form-group row col-lg-12 mt-7">
	                <label for="religion" class="col-form-label col-lg-6"><b>
	                	<span class="float-left">Find Employee By</span>
	                	<span class="float-right">:</span></b>
	                </label>
	                <div class="input-group col-lg-6">
					  <select class="form-control" name="findBy" onchange="changeInput(this.value)"
					  	required="required">
					    <option value="Name" 		> Name         </option>
					    <option value="NickName" 	> Nick Name     </option>
					    <option value="NID" 		> NID          </option>
					    <option value="FingerId" 	> Finger Id    </option>
					    <option value="Contact" 	> Contact          </option>
					  </select>
	                </div>
	          	  </div>
	          	  
	          	  <div class="form-group row col-lg-12">
	                <label for="findByValue"  class="col-form-label col-lg-6"><b>
	                	<span class="float-left" id="findByValueLabel">Employee Id</span>
	                	<span class="float-right">:</span> </b>
	                </label>
					<div class="col-lg-6">
					  <input type="text" class="form-control" id="findByValue" name="findByValue" 
					  	placeholder="Enter some character of Name" required="required">
	                </div>
	              </div>
	              
	              <div class="container">
	              	<input type="hidden" class="form-control" id="reqFlag" name="reqFlag" 
	              		value="experience" readonly="readonly">
  					<div class="row justify-content-md-center">
						<button type="submit" class="btn btn-success btn-lg col-lg-4">Search </button> 
  					</div>
  				  </div>
              </form> -->
              
				<div class="col-12 card bg-light mx-auto" th:if="${show == true}">
				    <div class="form-group row col-lg-12">
					  <table width="100%" border="1" class="table table-bordered table-hover table-borderless">
					    <tbody class="text-center">
					      <tr class="table-header">
					        <th scope="col">SL</th>
					        <th scope="col">Employee ID</th>
					        <th scope="col">Company</th>
					        <th scope="col">Last Active Date</th>
					        <th scope="col">Designation</th>
					        <th scope="col">Start Date</th>
					        <th scope="col">End Date</th>
					        <th scope="col">Action</th>
					      </tr>
					      <tr th:each="exp : ${allExperience}">
					      	<td th:text="${expStat.count}"></td>
					      	<td th:text="${exp.employeeId}"> Employee ID </td>
					      	<td th:text="${exp.companyName}"> Company </td>
					      	<td th:text="${exp.lastActiveDate}">Last Active Date </td>
					      	<td th:text="${exp.designation}"> Designation </td>
					      	<td th:text="${exp.startDate}"> Start Date </td>
					      	<td th:text="${exp.endDate}"> End Date </td>
					      	<td > <a th:href="@{experience-details(eid=${exp.employeeId}, lad=${exp.lastActiveDate})}" class="btn btn-success btn-sm" >Details</a></td>
					      </tr>
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <footer class="container text-center form-heading">
      <div class="row">
        <div class="col-12">
          <p>Copyright © BilkisSoft . All rights reserved.</p>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap-4.4.1.js"></script>
    <script src="../../js/emplist.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>