<!-- ==============================================================
Author: Md. Saifur Rahman 
Created Date:18-Dec-202
Last Update: 06-Jan-2021
============================================================== -->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Allowance List </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="css/sf_hr.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<div class="container">
  <div class="row form-heading">
        <div class="col-lg-3">
          <p style="font-style: italic;">allowance-list</p>
        </div>
        <div class="col-lg-6 text-center">
          <h3>Allowance List</h3>
  		</div>
        <div class="col-lg-3 text-center">
          <h5 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy hh:mm a')}"> </h5>
  		</div>
  </div>
	<div class="row sf-form-body">
		<div class="col-lg-12 col-12">
		      <div class="row mx-0">
		      
              <form class="form-group row col-lg-12" action="#" th:action="@{allowance-list-find}" method="post">
	              <div class="form-group row col-lg-12 mt-4">
	                <label for="religion" class="col-form-label col-lg-3"><b>
	                	<span class="float-left">Find By</span>
	                	<span class="float-right">:</span></b>
	                </label>
	                <div class="input-group col-lg-7">
					  <select class="form-control" name="findBy" onchange="changeInput(this.value)"
					  	required="required">
					    <option value="EmployeeId" 	> Employee Id  </option>
					    <!-- <option value="FirstName" 	> First Name         </option>
					    <option value="LastName" 	> Last Name     </option>
					    <option value="NID" 		> NID          </option>
					    <option value="Relation" 	> Relation  </option>
					    <option value="Contact" 	> Contact          </option> -->
					  </select>
	                </div>
	          	  </div>
	          	  
	          	  <div class="form-group row col-lg-12">
	                <label for="findByValue"  class="col-form-label col-lg-3"><b>
	                	<span class="float-left" id="findByValueLabel">Enter any Employee Id</span>
	                	<span class="float-right">:</span> </b>
	                </label>
					<div class="col-lg-6">
					  <input type="text" class="form-control" id="findByValue" name="findByValue" 
					  	placeholder="Enter some character of Name" required="required">
	                </div>
					<div class="col-lg-2">
						<button type="submit" class="btn btn-success btn-lg col-lg-12">Search </button> 
					</div>
					
	              </div>
              </form>
		      	<div class="form-group row col-lg-12" th:if="${show == true}">
					  <table width="100%" border="1" class="table table-bordered table-hover table-borderless">
					    <tbody class="text-center">
					      <tr class="table-header">
					        <th scope="col">SL</th>
					        <th scope="col">Basic</th>
					        <th scope="col">House Rent</th>
					        <th scope="col">Medical Allowance</th>
					        <th scope="col">Action</th>
					      </tr>
					      <tr th:each="allowance : ${allowanceList}">
					      	<td th:text="${allowanceStat.count}"></td>
					      	<td th:text="${allowance.basic}"> Basic </td>
					      	<td th:text="${allowance.houseRent}">House Rent</td>
					      	<td th:text="${allowance.medicalAllowance}"> Medical Allowance </td>
					      	<td > <a th:href="@{allowance-details(eid=${allowance.employeeId}, alwid=${allowance.allowanceId})}" class="btn btn-success btn-sm" >Details</a></td>
					      </tr>
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="text-center form-heading">
  <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © BilkisSoft . All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
    <script src="js/emplist.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>