<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dependents Information</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="css/sf_hr.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<div class="container">
  <div class="row form-heading">
        <div class="col-lg-2 text-left">
           <p style="font-style: italic;"> dependent</p>
        </div>
        <div class="col-lg-7 text-center">
          <h3>Employee Dependents</h3>
  		</div>
        <div class="col-lg-3 text-center">
          <h5 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy hh:mm a')}"> </h5>
  		</div>
  </div>
<div class="row sf-form-body">
<div class="col-lg-12 col-12">
      <div class="row mx-0">
          <ul class="tab col-lg-12">
	          <li class="col-lg-2"> 		<a href="/employee-add"		class="btn btn-lg "> <h3> 	Employee	</h3> </a> 	</li>
	          <li class="col-lg-2 active"> 	<a href="/address-add"		class="btn btn-lg "> <h3>	Address		</h3> </a>	</li>
	          <li class="col-lg-2">			<a href="/education-add"	class="btn btn-lg "> <h3>	Education	</h3> </a>	</li>
	          <li class="col-lg-2">			<a href="/experience-add"	class="btn btn-lg "> <h3>	Experience	</h3> </a>	</li>
	          <li class="col-lg-2">			<a href="/dependents-add"	class="btn btn-lg "> <h3>	Dependents	</h3> </a>	</li>
	          <li class="col-lg-2">			<a href="/nominee-add"		class="btn btn-lg "> <h3>	Nominee		</h3> </a>	</li>
          </ul>
	<div class="col-12 card bg-light mx-auto">
  		<form class="card-body label" action="#" th:action="@{/dependents-add-save}" th:object="${dependents}" method="post">
            <div class="row">
              
			  <div class="form-group row col-lg-12">
                <label for="employeeId" class="col-form-label col-lg-3">
				  <span class="float-left">Employee ID</span><span class="float-right">:</span>
			    </label>
			    <div class="col-lg-7">
				  <select class="form-control" th:field="*{employeeId}">
					<option value="0">Select One</option>
					<option th:each="employee : ${allEmployee}" th:text="${employee.employeeId}"
						th:value="${employee.employeeId}"></option>
				  </select>
                </div>
              </div>
              
              <div class="form-group row col-lg-12">
                <label for="name" class="col-form-label col-lg-3"><span class="float-left">Dependents Name</span><span class="float-right">:</span></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control" th:field="*{name}">
                </div>
              </div>
              
			  <div class="form-group row col-lg-12">
				<label for="nickName" class="col-form-label col-lg-3"><span class="float-left">Nick Name</span><span class="float-right">:</span></label>
				<div class="input-group col-lg-7">
				  <input type="text" class="form-control" th:field="*{nickName}">
				</div>
			  </div>
              
              <div class="form-group row col-lg-12">
                <label for="NID" class="col-form-label col-lg-3"><span class="float-left">Dependents NID</span><span class="float-right">:</span>
                  </label>
                <div class="col-lg-7">
                  <input type="text" class="form-control" th:field="*{NID}">
                </div>
              </div>
              
			  <div class="form-group row col-lg-12">
			    <label for="bloodGroup" class="col-form-label col-lg-3"><span class="float-left">Blood Group</span><span class="float-right">:</span></label>
			    <div class="input-group col-lg-7">
					<select  class="form-control" id="" th:field="*{bloodGroup}">
					  <option value="">Select One</option>
					  <option value="A+">A+</option>
					  <option value="A-">A-</option>
					  <option value="B+">B+</option>
					  <option value="B-">B-</option>
					  <option value="AB+">AB+</option>
					  <option value="AB-">AB-</option>
					  <option value="O+">O+</option>
					  <option value="O-">O-</option>
					</select>
			    </div>
			  </div>
			  
              <div class="form-group row col-lg-12">
                <label for="location8" class="col-form-label col-lg-3"><span class="float-left">Relationship</span><span class="float-right">:</span></label>
                <div class="input-group col-lg-7">
                  <select name="select2" class="form-control" th:field="*{relationship}">
					  <option value="">Select One</option>
					  <option value="Spouse">Spouse</option>
					  <option value="Children">Children</option>
					  <option value="Parent">Parent</option>
					  <option value="Brother">Brother</option>
					  <option value="Sister">Sister</option>
                  </select>
				</div>
              </div>
              
              <div class="form-group row col-lg-12">
                <label for="name" class="col-form-label col-lg-3"><span class="float-left">Nominee Name</span><span class="float-right">:</span></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control" th:field="*{nomineeName}">
                </div>
              </div>
              
              <div class="form-group row col-lg-12">
                <label for="name" class="col-form-label col-lg-3"><span class="float-left">Nominee NID</span><span class="float-right">:</span></label>
                <div class="col-lg-7">
                  <input type="text" class="form-control" th:field="*{nomineeNID}">
                </div>
              </div>
            <div class="form-group row col-lg-12">
              <label for="filler1" class="col-form-label col-lg-3"><span class="float-left">Filler-1</span><span class="float-right">:</span></label>
              <div class="input-group col-lg-7">
                <input type="text" class="form-control" th:field="*{filler1}">
              </div>
            </div>
            <div class="form-group row col-lg-12">
              <label for="filler2" class="col-form-label col-lg-3"><span class="float-left">Filler-2</span><span class="float-right">:</span></label>
              <div class="input-group col-lg-7">
                <input type="text" class="form-control" th:field="*{filler2}">
              </div>
            </div>
            <div class="form-group row col-lg-12">
              <label for="filler3" class="col-form-label col-lg-3"><span class="float-left">Filler-3</span><span class="float-right">:</span></label>
              <div class="input-group col-lg-7">
                <input type="text" class="form-control" th:field="*{filler3}">
              </div>
            </div>
            <div class="form-group row col-lg-12">
              <label for="filler4" class="col-form-label col-lg-3"><span class="float-left">Filler-4</span><span class="float-right">:</span></label>
              <div class="input-group col-lg-7">
                <input type="text" class="form-control" th:field="*{filler4}">
              </div>
            </div>
            <div class="form-group row col-lg-12">
              <label for="filler5" class="col-form-label col-lg-3"><span class="float-left">Filler-5</span><span class="float-right">:</span></label>
              <div class="input-group col-lg-7">
                <input type="text" class="form-control" th:field="*{filler5}">
              </div>
            </div>
            
            <div class="form-group col-lg-12 text-center mt-lg-4">
            	<a href="#" class="btn btn-danger btn-lg col-lg-2 mr-lg-5" role="button">Cancel</a>
            	<!-- <a href="#" class="btn btn-success btn-lg col-lg-2" role="button">Save</a> -->
            	<button type="submit" class="btn btn-success btn-lg col-lg-2">Save </button>
            </div>
          </div>
        </form>
          </div>
</div>
        </div>
  </div>
  </div>
    <footer class="container text-center form-heading">
      <div class="row">
        <div class="col-12">
          <p>Copyright © BilkisSoft . All rights reserved.</p>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>