<!-- ==============================================================
Author: Md. Saifur Rahman 
Created Date:18-Dec-202
Last Update: 06-Jan-2021
============================================================== -->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Department List </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="css/sf_hr.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<div class="container">
  <div class="row form-heading">
        <div class="col-lg-3">
          <p style="font-style: italic;">dept-list</p>
        </div>
        <div class="col-lg-6 text-center">
          <h3>Department List</h3>
  		</div>
        <div class="col-lg-3 text-center">
          <h5 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy hh:mm a')}"> </h5>
  		</div>
  </div>
	<div class="row sf-form-body">
		<div class="col-lg-12 col-12">
		      <div class="row mx-0">
		      	<div class="form-group row col-lg-12">
					  <table width="100%" border="1" class="table table-bordered table-hover table-borderless">
					    <tbody class="text-center">
					      <tr class="table-header">
					        <th scope="col">SL</th>
					        <th scope="col">Name</th>
					        <th scope="col">Desc.</th>
					        <th scope="col">Responsibility</th>
					        <th scope="col">Manager</th>
					        <th scope="col">Total Employee</th>
					        <th scope="col">Action</th>
					      </tr>
					      <tr th:each="dept : ${deptList}">
					      	<td th:text="${deptStat.count}"></td>
					      	<td th:text="${dept.departmentName}"> Name </td>
					      	<td th:text="${dept.description}">Desc</td>
					      	<td th:text="${dept.responsibilty}"> Responsibility</td>
					      	<td th:text="${dept.managerName}"> Manager </td>
					      	<td th:text="${dept.totalEmployee}"> Total Employee </td>
					      	<td> <a th:href="@{dept-details(id=${dept.departmentId})}" class="btn btn-success btn-sm" >Details</a></td>
					      	
					      </tr>
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="text-center form-heading">
  <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © BilkisSoft . All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
    <script src="js/emplist.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>